
<h1>Pirates:</h1>

<h2>name: {{ pirates.name }}</h2>
<h2>birthplace: {{ pirates.birthplace }}</h2>
<h2>death_year: {{ pirates.death_year }}</h2>
<h2>base: {{ pirates.base }}</h2>
<h2>nickname: {{ pirates.nickname }}</h2>

<a href="/pirates">Go back!</a>
